
.encabezado {
    background: #2c363f;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
}

.button {
    background: #8cc0ec;
    border-radius: 80px;
    margin: 50px;
    text-align: center;
}