<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="subtitulo p-3 encabezado">Actualizar informacion:</h3>
    <ion-item>
      <ion-label position="floating">Nombres:</ion-label>
      <ion-input type="string" inputmode="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad:</ion-label>
      <ion-input type="string" inputmode="text">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Direccion:</ion-label>
      <ion-input type="string" inputmode="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Foto: </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="images"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-button class="button" expand="full">Guardar</ion-button>


</ion-content>
