<ion-content>
  <ion-grid class="container">
      <ion-row>
          <ion-col size="12" class="ion-text-center">
              <h1>Recuperar contraseña</h1>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
              <p>Ingrese su dirección de correo electrónico para recibir un enlace para restablecer su contraseña</p>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
              <form [formGroup]="resetPasswordForm"  autocomplete="off" novalidate (ngSubmit)="onSubmit($event)">
                  <ion-item>
                      <ion-label position="floating">Correo electrónico</ion-label>
                      <ion-input type="email" formControlName="email"></ion-input>
                      <ng-container *ngFor="let validation of validations.email">
                          <ion-note slot="error" *ngIf="resetPasswordForm.controls['email'].hasError(validation.type) && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched)">
                              <ion-icon name="information-circle-outline"></ion-icon>
                              {{ validation.message }}
                          </ion-note>
                      </ng-container>
                  </ion-item>
                  <ion-row class="ion-padding">
                      <ion-col size="12" class="ion-text-center">
                          <ion-button type="submit" expand="block">Enviar correo</ion-button>
                      </ion-col>
                  </ion-row>
              </form>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button expand="block" routerLink="/login">Iniciar sesión</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>