
    <ion-toolbar>
      <ion-title class="Titulo">Registro de incidencia</ion-title>
    </ion-toolbar>

  <ion-content>
    <h3 class="subtitulo p-3 encabezado">Ingrese informacion:</h3>
    <ion-item>
      <ion-label position="floating">Titulo:</ion-label>
      <ion-input type="string" inputmode="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observacion:</ion-label>
      <ion-input type="string" inputmode="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Foto: </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="images"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-button class="button" expand="full">Guardar</ion-button>
  
  </ion-content>
